.input_container {
  display: flex;
  border-radius: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  align-items: center;
}
.input_error {
  display: none;
  color: red;
  font-size: small;
  padding-left: 0.7rem;
}
.show_input {
  display: block;
}
