$bg-color: red;
$box-shadow: 0 2px 4px 0 #dadada;
$border: 1px solid #dadada;
$card-bg-color: #fdfcfc;
body {
  margin: 0;
  font-family: Roboto;
  // background-color: $bg-color;
}
.shadow {
  box-shadow: $box-shadow;
}
.border {
  border: $border;
}
.card {
  background-color: $card-bg-color;
}
::placeholder {
  color: "#D7D7D7";
  opacity: 0.5;
}
