$primary-color: #b2ebf2;
$box-shadow: 0 2px 4px 0 #dadada;
$border: 1px solid #dadada;
$card-bg-color: #fdfcfc;
body {
  margin: 0;
  font-family: Roboto;
}
.app_container {
  position: relative;
}
.navbar_container {
  background-color: $primary-color;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  padding: 1rem;
  font-weight: bold;
}
input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.7rem;
  font-size: "1rem";
}
.icon {
  cursor: pointer;
}
.shadow {
  box-shadow: $box-shadow;
}
.border {
  border: $border;
}
.card {
  background-color: $card-bg-color;
}
::placeholder {
  color: "#D7D7D7";
  opacity: 0.5;
}
.remove_button {
  border: none;
  background-color: #ec7272;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
